/* Facilita o uso de Cores */
:root {
    --main-color: #00eeff;
    --main-color2: #2c3f41;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --bg-color-03: #475775;
    --name-color: #3e46b3;
    --advogado-color: #000000;
    --description-color: #000000;
}

/* Redefine as Configurações Padrões do Navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}   

/* Define a Cor de Fundo e a Cor Padrão de Texto */
body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Define a Fonte */
html {
    font-family: "Sedan SC", serif;
    font-size: 16px;
}

/* Configura a Logo */
.logo {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

/* Configura a Imagem da Logo */
.logo-img {
    transform: scale(0.10);
    position: inherit;
    left: 150px;
} 

/* Configura o Cabeçario */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color-03);
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-03);
}

/* Configura o Menu de Navegação */
.navigation a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;  
}

/* Configura o Menu de Navegação */
.navigation a:hover {
    color: var(--main-color);
}

/* Configura as Sections (Paginas) */
section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}

/* Configura a Section Home */
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-content {
    width: 45%;
    position: relative;
    text-align: center;
    color: white;
}

.home-content h1{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--name-color);
}

.home-content h2 {
    font-size: 1.2rem;
    color: var(--advogado-color);
}

.home-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.3;
    color: var(--description-color);
}

.home-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

/* Configura a Social-Media */

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem; 
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    transform: scale(1.2);  
    box-shadow: 0 0 0.5rem var(--main-color);
}

/* Configura os Botões */

.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

.about {
    background-color: var(--bg-color-02);
}

/* Configura as Paginas de Services, Contacts e Informations */
.services h2,
.contacts h2,
.informations h2
{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 25rem;
    border-right: 1rem;
}

.services-container .services-box  {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    background-color: var(--bg-color-02);
    cursor: default;
    transform: scale(1.05);
}

.services-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Configura a Background Image */

/* Configura o Rodapé */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

/* Configura o Menu-Hamburguer */
.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

/* Configura as Dimensões em Cada Aparelho */

@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }

    .logo-img {
        display: none;
    }

    .navigation {
        display: none;
    }

    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    
    section {
        padding: 6rem 2.5rem;
    }

    .home, .about {
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img, .about-img {
        width: 80%;
        max-width: 80%;
    }
    
    .home-content, .about-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }

    .home-content h1, .about-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3rem;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: 100%;
    }
}

@media (min-width: 300px) {
    .home-img, .about-img {
        width: 65%;
        max-width: 65%;
    }

    .services-box {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }

    .navigation {
        display: block;
    }
    
    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .home, .about {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .about-img {
        max-width: 35%;
    }

    .home-content, .about-content {
        width: 50%;
    }

    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {

    .services-container {
        flex-direction: column;
        gap: 1.2rem;
    }
}

@media (min-width: 1200px) {
    
    .home-img, .about-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 1.6rem;
    }

    .home-content h3 {
        font-size: 1.6rem;
    }

    .logo-img {
        display: flex;
    }
}

/* Configura as Dimensões em Cada Aparelho */

